<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
    
</head>
<body>
    {{>header}}
    {{>navbar}}

    <p class="introduction">At Neha Electronic, we understand how essential your electronic devices are in today's fast-paced world. Whether it's
         your TV, mobile phone, refrigerator, or any other electronic appliance, we rely on them for daily tasks and entertainment.
          However, like all things, electronic devices can sometimes encounter issues that hinder their performance. That's where we
           come in  to provide you with top-notch electronic repair services that restore your devices to their optimal functionality.
    </p>

    <h1 class="service"> Our Services</h1>
    <p class="introduction">We specialize in repairing a wide range of electronic devices, including but not limited to</p>
    <div class="row">
        
        <div class="row-content">
            <img src="/CSS/colour-tv-repairing-services-125x125.jpg" alt="Image">
             <h2>Televisions (TVs)</h2>
            <p>Is your TV displaying a distorted image or having sound issues? Our skilled technicians can diagnose and repair various
                 TV problems, ensuring you get back to enjoying your favorite shows and movies without interruption.
            </p>
        </div>
    </div>

    <div class="row">
        
        <div class="row-content">
            <img src="/CSS/mobile-repair-service-125x125.jpg" alt="Image">
             <h2>Mobile Devices </h2>
            <p>From cracked screens to battery problems and software glitches, our experts can handle smartphone and 
                tablet repairs of all kinds. We use genuine parts to ensure the best performance and longevity for your devices.
            </p>
        </div>
    </div>

    <div class="row">
        
        <div class="row-content">
            <img src="/CSS/refrigerator-repairing-125x125.jpg" alt="Image">
             <h2>Refrigerators and Freezers </h2>
            <p>A malfunctioning refrigerator or freezer can lead to food spoilage and inconvenience.
                 Our technicians are experienced in diagnosing and fixing cooling issues, faulty compressors, and more, so you can
                  keep your perishables fresh.
            </p>
        </div>
    </div>

    <div class="row">
        
        <div class="row-content">
            <img src="/CSS/istockphoto-1174598609-612x612.jpg" alt="Image">
             <h2>Other Electronic Appliances </h2>
            <p> We also offer repair services for various other electronic appliances such as washing
                 machines, microwave ovens, air conditioners, and more. No matter the issue, we're here to help.
            </p>
        </div>
    </div>
   <a href="contect.hbs">click</a>
   <a href="repairservice.hbs"> RegisterClick</a>
     
</body>
</html>