<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <img src="/CSS/repair service.png" alt="image">
    <h1 class="service">Services</h1>
    <p class="introduction" >Welcome to our comprehensive electronic repair services. At Neha Electronics,
         we take pride in offering expert repair solutions for a wide range of electronic 
         devices. Our team of skilled technicians is committed to restoring your devices to optimal
          performance. Explore our array of repair services
    </p>
 
   <div class="row">
        
        <div class="row-content">
            <img src="/CSS/colour-tv-repairing-services-125x125.jpg" alt="Image">
             <h2>Televisions (TVs)</h2>
            <p>Is your TV displaying a distorted image or having sound issues? Our skilled technicians can diagnose and repair various
                 TV problems, ensuring you get back to enjoying your favorite shows and movies without interruption.
            </p>
        </div>
    </div>

    <div class="row">
        
        <div class="row-content">
            <img src="/CSS/mobile-repair-service-125x125.jpg" alt="Image">
             <h2>Mobile Devices </h2>
            <p>From cracked screens to battery problems and software glitches, our experts can handle smartphone and 
                tablet repairs of all kinds. We use genuine parts to ensure the best performance and longevity for your devices.
            </p>
        </div>
    </div>

    <div class="row">
        
        <div class="row-content">
            <img src="/CSS/refrigerator-repairing-125x125.jpg" alt="Image">
             <h2>Refrigerators and Freezers </h2>
            <p>A malfunctioning refrigerator or freezer can lead to food spoilage and inconvenience.
                 Our technicians are experienced in diagnosing and fixing cooling issues, faulty compressors, and more, so you can
                  keep your perishables fresh.
            </p>
        </div>
    </div>

    
    <div class="row">
        
        <div class="row-content">
            <img src="/CSS/laptop-repair.jpg" alt="Image">
             <h2>Laptop Repair </h2>
            <p> From hardware malfunctions to software glitches, our laptop repair service covers a wide
                 spectrum of issues. Trust us to bring your laptop back to life, whether it's for work, school, or leisure.
            </p>
        </div>
    </div>
    <div class="row">
        
        <div class="row-content">
            <img src="/CSS/speker-repair.jpg" alt="Image">
             <h2>Speaker Repair </h2>
            <p> Don't let sound quality suffer due to speaker problems. Our speaker repair service ensures that your audio
                 devices produce crisp and clear sound, enhancing your entertainment experience.
            </p>
        </div>
    </div>

    <div class="row">
        
        <div class="row-content">
            <img src="/CSS/istockphoto-1174598609-612x612.jpg" alt="Image">
             <h2>Other Electronic Appliances </h2>
            <p> We also offer repair services for various other electronic appliances such as washing
                 machines, microwave ovens, air conditioners, and more. No matter the issue, we're here to help.
            </p>
        </div>
    </div>
    <button class="big-button"><a href="/contect.hbs">Contect Us</a></button>
   
     

    
</body>
</html>