
  <header class="header">
     <div class="header-background"></div>
    <div class="header-left">
      <span class="header-name">Neha Electronics</span>
    </div>
    <div class="header-right">
       <a href="/" class="header-link">Home</a> 
      <a href="login.hbs" class="header-link">Login</a>
      <a href="signup.hbs" class="header-link">Signup</a>
      <a href="register.hbs" class="header-link">Register</a>
    </div>
    <div class="header-center">
      <h1 class="header-title">Welcome to <div id="Neha">Neha Electronics</div></h1>
    </div>
  </header>

  